body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:623px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:44px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:186px;
  width:572px;
  height:43px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_ann {
  border-width:0px;
  position:absolute;
  left:616px;
  top:182px;
  width:1px;
  height:1px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:199px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:199px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:199px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:199px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:199px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:199px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:21px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:198px;
  width:171px;
  height:20px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:202px;
  width:10px;
  height:12px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:199px;
  width:119px;
  height:16px;
  color:#999999;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:131px;
  width:65px;
  height:34px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:286px;
  width:64px;
  height:17px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:360px;
  width:85px;
  height:17px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:2px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:443px;
  width:97px;
  height:1px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:93px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:483px;
  width:57px;
  height:17px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:479px;
  width:300px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:534px;
  width:71px;
  height:17px;
  color:#0033FF;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:551px;
  width:73px;
  height:1px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:29px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:355px;
  width:306px;
  height:28px;
  color:#0033FF;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:358px;
  width:295px;
  height:23px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
